# gokaygurcan/dockerfile-ubuntu

name: 'Ubuntu'

on:
  push:
  pull_request:
    branches:
    - master

env:
  GITHUB: ${{ toJson(github) }}

jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
    - id: sanity-check
      name: Sanity check
      run: |
        printenv

    - id: checkout
      name: Checkout
      uses: actions/checkout@v3

    - id: login
      name: Login to Docker Hub
      uses: docker/login-action@v2
      if: |
        github.ref == 'refs/heads/master'
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - id: build
      name: Build image
      run: |
        docker build --file Dockerfile --tag gokaygurcan/ubuntu:latest .

    - id: test
      name: Test
      run: |
        docker run --rm gokaygurcan/ubuntu apt --version
        docker run --rm gokaygurcan/ubuntu apt-get --version
        docker run --rm gokaygurcan/ubuntu aptitude --version
        docker run --rm gokaygurcan/ubuntu aria2c --version
        docker run --rm gokaygurcan/ubuntu autoconf --version
        docker run --rm gokaygurcan/ubuntu bash --version
        docker run --rm gokaygurcan/ubuntu bison --version
        docker run --rm gokaygurcan/ubuntu brotli --version
        docker run --rm gokaygurcan/ubuntu curl --version
        docker run --rm gokaygurcan/ubuntu dig -v
        docker run --rm gokaygurcan/ubuntu dpkg --version
        docker run --rm gokaygurcan/ubuntu file --version
        docker run --rm gokaygurcan/ubuntu g++ --version
        docker run --rm gokaygurcan/ubuntu gcc --version
        docker run --rm gokaygurcan/ubuntu gh --version
        docker run --rm gokaygurcan/ubuntu git --version
        docker run --rm gokaygurcan/ubuntu gpg --version
        docker run --rm gokaygurcan/ubuntu gpg2 --version
        docker run --rm gokaygurcan/ubuntu gzip --version
        docker run --rm gokaygurcan/ubuntu htop --version
        docker run --rm gokaygurcan/ubuntu jq --version
        docker run --rm gokaygurcan/ubuntu make --version
        docker run --rm gokaygurcan/ubuntu nano --version
        docker run --rm gokaygurcan/ubuntu netstat --version
        docker run --rm gokaygurcan/ubuntu nmap --version
        docker run --rm gokaygurcan/ubuntu nslookup -type=ns github.com
        docker run --rm gokaygurcan/ubuntu nsupdate -V
        docker run --rm gokaygurcan/ubuntu ping -V
        docker run --rm gokaygurcan/ubuntu pip3 --version
        docker run --rm gokaygurcan/ubuntu python3 --version
        docker run --rm gokaygurcan/ubuntu rsync --version
        docker run --rm gokaygurcan/ubuntu sqlite3 --version
        docker run --rm gokaygurcan/ubuntu ssh -V
        docker run --rm gokaygurcan/ubuntu sudo --version
        docker run --rm gokaygurcan/ubuntu tar --version
        docker run --rm gokaygurcan/ubuntu unzip -v
        docker run --rm gokaygurcan/ubuntu vim --version
        docker run --rm gokaygurcan/ubuntu wget --version

    - id: push
      name: Push to Docker Registry
      uses: docker/build-push-action@v3
      if: |
        github.ref == 'refs/heads/master'
      with:
        context: .
        push: true
        tags: gokaygurcan/ubuntu:latest
